
body {
    background: #280915;
    font-family: Arial;
}
h1 {
    color: red;
}
/* vvwmadza7z3Mfa7Eg8nfwbbfKxprwZOpnOhYu6MiQBZ3RhK9gOoEINHi40A5GNOEObRAN1uiXuYKoImtUJGRxIbm3o243Z6ypLbRO0lmaj2ARrwDX3ApTwTSO3x2hKFhppqzJbMF4Fo7mgquBD5V9xwKFWgtYDrp6Arddla1Rv6izlBV1ZbWYt8HpXgyRHIKBgscxp7Q */
